.main-container{
    height: calc(100vh - 9rem);
    margin: 0;
    padding: 0;
}
.header-image{
    width: 100vw;
}
.navigation-container{
    height: fit-content;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;

}
.product-list{
    color: #C30208;
    text-transform: uppercase;
}
.view-all{
    padding: 0.5rem 1.2rem;
    border: none;
    outline: none;
    background: #C30208;
    color: #ffffff;
    text-transform: uppercase;
}